<!DOCTYPE html>
{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/parusImg.jpg' %}" class="img-fluid">
  </div>
</div>
<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h3  class="font-weight-bold">Hi, I'm Prashant Shelare. I can build beautiful and functional website using Django.</h3>
  </div>
</div>
<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="row justify-content-center">

  {% for project in projects %}
    <div class="jumbotron">
     <div class="card" style="width: 18rem; height: 30rem;">
         <img class="card-img-top" src="{{ project.image.url }}" alt="Card image cap">
         <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-text">{{ project.description }}</p>
             <a href="{{ project.url }}" target="_blank" class="btn btn-primary">Go Through</a>
         </div>
     </div>
    </div>
  {% endfor %}
 </div>
{% endblock %}